<div class="vxH100 vx-grid-inner vx-grid-related ">
    <div class="row">
        <div class="col">
            <div class="col vsTableStats pull-left zeroPaddingLeft" *ngIf="baseConfig.showGridStats">
                <p class="statTitle">All</p>
                <p class="statValue">{{baseConfig.vxFilteredData.length | vxNumberFixedLen:2}}</p>
                <p class="statTitle" [class.disabled]="multiBoxFilters.length == 0">Filtered</p>
                <p class="statValue" [class.disabled]="multiBoxFilters.length == 0">
                    <span *ngIf="multiBoxFilters.length > 0">
                                <span>{{baseConfig.vxFilteredData.length | vxNumberFixedLen:2}}</span>
                    </span>
                    <span *ngIf="multiBoxFilters.length == 0">00</span>
                </p>
                <p class="statTitle" [class.disabled]="baseSettings.multiSelected.length == 0">Selected</p>
                <p class="statValue" [class.disabled]="baseSettings.multiSelected.length == 0">{{baseSettings.multiSelected.length | vxNumberFixedLen:2}}</p>
            </div>
            <div class="col vxTableOperations pull-right zeroPaddingRight" *ngIf="baseConfig.showGridOptions">
                <div class="search-container pull-left input-group" *ngIf="false">
                    <input class="search form-control" type="search" [disabled]="baseConfig.vxFilteredData.length == 0 || true" [(ngModel)]="baseSettings.searchToken"
                        placeholder="Search" (keyup)="keyUpSearch($event)" aria-label="search table" />
                </div>
                <div class="icon-container pull-left" role="button" tabindex="0" *ngIf="baseConfig.inlineEditingEnabled == true && baseConfig.inlineAddRowEnabled == true && false"
                    (click)="addNewRow()" aria-label="add new row">
                    <i class="icon icon-add"></i>
                </div>
                <div class="icon-container pull-left" role="button" [attr.tabindex]="editInProgressCount() == 0 ? -1 : 0" *ngIf="baseConfig.inlineEditingEnabled == true && editInProgressCount() > 0 && false"
                    [class.disabled]="editInProgressCount() == 0" (click)="revertEdits()" aria-label="revert edits">
                    <i class="icon icon-revert"></i>
                </div>
                <div class="icon-container pull-left" role="button" tabindex="0" *ngIf="baseSettings.multiSelected.length > 0" (click)="deleteRows()"
                    aria-label="delete rows">
                    <i class="icon icon-trash"></i>
                </div>
                <div class="icon-container pull-left" role="button" [attr.tabindex]="baseSettings.selectAllEnabled == false && baseConfig.multiSelectionEnabled == true ? -1 : 0"
                    [class.disabled]="(baseSettings.selectAllEnabled == false && baseConfig.multiSelectionEnabled == true) || baseConfig.vxFilteredData.length == 0"
                    (click)="selectAllFiltered()" aria-label="select all filtered rows">
                    <i class="icon icon-openwith"></i>
                </div>
                <div class="icon-container pull-left" role="button" [attr.tabindex]="baseSettings.multiSelected.length == 0 ? -1 : 0" [class.disabled]="baseSettings.multiSelected.length == 0"
                    (click)="clearSelection()" aria-label="clear any row selections">
                    <i class="icon icon-clearselection"></i>
                </div>
                <div class="icon-container pull-left" [class.active]="baseSettings.revealWrapRowData" (click)="revealWrapToggle()" [class.disabled]="baseConfig.vxFilteredData.length == 0"
                    aria-label="toggle row content reveal">
                    <i class="icon icon-more"></i>
                </div>
                <div class="icon-container pull-left" role="button" [attr.tabindex]="multiBoxFilters.length == 0 ? -1 : 0" [class.disabled]="multiBoxFilters.length == 0"
                    (click)="clearFilters()" aria-label="clear any filters applied">
                    <i class="icon icon-refresh"></i>
                </div>
                <div class="icon-container pull-left" [class.active]="baseSettings.menu" (click)="openManageColumns()" aria-label="open manage columns modal">
                    <i class="icon icon-repair"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 vxTableScrollContainer" [attr.id]="'_vxOverallScroll' + baseConfig.id" [class.attrPaneOpen]="baseConfig.showGridStats || baseConfig.showGridOptions"
        [class.pageEnabled]="baseSettings.vxPageEnabled">
        <div class="col-12 vxTableContainer ms-datatable ang-dt zeroPadding scrollDupHeader scrollDupHeaderAdded" [style.minWidth]="baseSettings.netWidth + 'px'">
            <div class='row marg0' tabindex="0">
                <div class="col-12 vxTableHolder pad0">
                    <table class="vxTable" role="presentation">
                        <thead class="vxHead">
                            <tr class="vxHeadRow">
                                <ng-container *ngFor="let head of baseConfig.headers">
                                    <th class="vxHeadRowCell" tabindex="-1" [style.width]="head.width + 'px'" *ngIf="head.hidden == false" [attr.title]="head.columnName"
                                        [class.ddEnabled]="baseSettings.dropdDownEnabled[head.id] == true" [attr.id]="baseConfig.id + '_vxHeadSt_' + head.id">
                                        <div *ngIf="head.renderHeadDefn == true && head.id == 'checkbox' && baseConfig.allRowsSelectionEnabled">
                                            <div class="vx-row-select">
                                                <input class="vx-row-select-toggle" type="checkbox" [disabled]="baseConfig.noData == true && baseConfig.allRowSelectionDisabled == true"
                                                    [(ngModel)]="baseSettings.allRowSelected" (change)="allRowSelectionChanged()"
                                                    aria-label="Select All Rows " />
                                            </div>
                                        </div>
                                        <span *ngIf="head.renderHeadDefn != true && baseSettings.dropdDownEnabled[head.id] == false" class="colTitle">{{head.columnName}}</span>
                                        <div ngbDropdown *ngIf="head.renderHeadDefn != true && baseSettings.dropdDownEnabled[head.id] == true" class="dropdown" (openChange)="head.openChangeHeader($event)">
                                            <button class="btn btn-outline-primary" [attr.id]="baseConfig.id + '_ddMenu_' + head.id" [attr.tabindex]="baseConfig.noData == false ? head.headTabIndex : -1"
                                                [disabled]="baseConfig.data.length == 0" ngbDropdownToggle>
                                                <span class="colTitle">{{head.columnName}}</span>
                                            </button>
                                            <ul class="dropdown-menu" [attr.ariaLabelledby]="baseConfig.id + '_ddMenu_' + head.id">
                                                <li class="dropdown-item" tabindex="-1" class="loader" *ngIf="baseSettings.dropdDownLoaded[head.id] == false">
                                                    <img class="dropDownLoader" [src]="baseConfig.loaderGifSrc" alt="dropdown addition in progress" />
                                                </li>
                                                <li class="dropdown-item" tabindex="0" class="sorter" *ngIf="baseSettings.dropdDownLoaded[head.id] == true && baseSettings.dropDownSort[head.id] == true"
                                                    (click)="sortClick(head)" [attr.id]="baseConfig.id + '_' + head.id + '_sort'">
                                                    <span class="sortIndicator" [hidden]="!(baseSettings.reverse == false && baseSettings.predicate == head.id)"><i class="icon icon-up white"></i></span>
                                                    <span class="sortIndicator" [hidden]="!(baseConfig.reverseSortDirection == true && baseConfig.sortPredicate == head.id)"><i class="icon icon-down white"></i></span>Sort
                                                    <span class="offscreen"> Press Enter or spacebar to sort on {{head.columnName}} column</span>
                                                </li>
                                                <li class="filterClear dropdown-item" *ngIf="baseSettings.dropdDownLoaded[head.id] == true && baseSettings.dropDownFilters[head.id] == true && baseSettings.colFilterPairs[head.id].length > 0"
                                                    [class.disabled]="baseSettings.colFiltersActivated[head.id] == false && baseSettings.filterSearchToken[head.id] == ''"
                                                    (click)="filterClearClick(head)" [attr.id]="baseConfig.id + '_' + head.id + '_clearfilters'"
                                                    [attr.ariaHidden]="(baseSettings.colFiltersActivated[head.id] == false && baseSettings.filterSearchToken[head.id] == '') ? true : false">
                                                    <span class="indicator"><i class="icon icon-filter white"></i></span>
                                                    <span class="offscreen">press enter or spacebar to</span> Clear All Filters
                                                    <span class="offscreen"> on {{head.columnName}} column</span>
                                                </li>
                                                <li class="filter-search dropdown-item" *ngIf="baseSettings.dropdDownLoaded[head.id] == true && baseSettings.dropDownFilters[head.id] == true && head.ddFiltersWithSearch == true">
                                                    <input class="search-input" tabindex="0" type="search" placeholder="Search In Filters" [attr.ariaLabel]="'search for filters in column' + head.columnName"
                                                        (click)="preventCollapse($event)" [attr.id]="head.id + '_searchfilters_' + baseConfig.id"
                                                    />
                                                    <div class="icon-container filter-activator" (click)="filterAssignVar($event, head)" [attr.id]="head.id + '_invokesearchfilters_' + baseConfig.id"
                                                        [attr.ariaLabel]="'invoke column filter action for column ' + head.columnName">
                                                        <i class="icon icon-search"></i>
                                                    </div>
                                                </li>
                                                <ng-container *ngFor="let filter of (baseSettings.colFilterPairs[head.id] | vxFilterArrayWithToken: baseSettings.filterSearchToken[head.id])">
                                                    <li class="filter dropdown-item" *ngIf="baseSettings.dropdDownLoaded[head.id] == true && baseSettings.dropDownFilters[head.id] == true">
                                                        <input class="filter-toggle" tabindex="0" type="checkbox" [(ngModel)]="baseSettings.colFiltersStatus[filter.key]" (change)="filterClick(head, filter)"
                                                            [attr.id]="baseConfig.id + '_' + head.id + '_filter_' + index" />
                                                        <label class="filterItemTitle" [attr.for]="baseConfig.id + '_' + head.id + '_filter_' + index"><span><span class="offscreen">{{head.columnName}} filter </span>                                                            {{filter.name}}</span>
                                                            </label>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </div>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 vxTableContainer ms-datatable ang-dt zeroPadding scrollTableContainer" [style.minWidth]="baseSettings.netWidth + 'px'"
            [attr.id]="'_vxScrollContainer' + baseConfig.id" style="margin-top: 0;">
            <div class='row marg0'>
                <div class="col-12 vxTableHolder pad0">
                    <table class="vxTable">
                        <caption class="offscreen"></caption>
                        <thead class="vxHead">
                            <tr class="vxHeadRow">
                                <ng-container *ngFor="let head of baseConfig.headers">
                                    <th class="vxHeadRowCell" tabindex="-1" [style.width]="head.width + 'px'" *ngIf="head.hidden == false">
                                        <span class="offscreen">{{head.columnName}}</span>
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody class="vxBody" [class.revealWrap]="baseSettings.revealWrapRowData" [attr.id]="'_vxHybrid' + baseConfig.id"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 vxTablePagination pad0" *ngIf="baseSettings.vxPageEnabled">
        <div class="icon-container dirNumContainer" (click)="baseSettings.activePage != 0 && activatePage(baseSettings.activePage - 1)" [class.disabled]="baseSettings.activePage == 0">
            <i class="icon icon-previous" aria-hidden="true"></i><span class="offscreen">Previous Page</span>
        </div>
        <div class="icon-container dirNumContainer" (click)="(baseSettings.activePage != baseSettings.pages.length - 1) && activatePage(baseSettings.activePage + 1)" [class.disabled]="baseSettings.activePage == baseSettings.pages.length - 1">
            <i class="icon icon-next" aria-hidden="true"></i><span class="offscreen">Next Page</span>
        </div>
        <div class="icon-container pageNumContainer" *ngFor="let pageNum of baseSettings.pages" (click)="activatePage(pageNum)" [class.active]="pageNum == baseSettings.activePage">
            <span class="offscreen">Page </span><i class="icon">{{pageNum + 1}}</i>
        </div>
    </div>
    <div class="icon-container scrollAction up" role="button" tabindex="0" (click)="justScrollTop()" [class.pageEnabled]="baseSettings.vxPageEnabled"
        aria-label="Scroll Up" [attr.id]="'scroll_up_' + baseConfig.id" style="display:none;">
        <i class="icon icon-up"></i>
    </div>
    <div class="icon-container scrollAction down" role="button" tabindex="0" (click)="justScrollDown()" [class.pageEnabled]="baseSettings.vxPageEnabled"
        aria-label="Scroll Down" [attr.id]="'scroll_down_' + baseConfig.id" style="display:none;">
        <i class="icon icon-up down"></i>
    </div>
</div>